



body{
    background-color: rgb(255, 255, 255);
}
button{
    border-bottom: black;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }

 body{
    background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE000, #799F0C, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
 }
 nav{
    background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE000, #799F0C, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
 }
.jumbotron{
 box-shadow: rgb(0, 0, 0);
 border-color: rgb(0, 0, 0);
}